<h1 style="text-align: center; margin-top: 20px;">Actualizar contenido</h1>
<form method="POST" action="/api/productos/guardar" style="max-width: 80%; max-height: 80%; margin: 20px auto;">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Title" name="title">
        <label for="floatingInput">Title</label>
    </div>
    <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingPassword" placeholder="Price" name="price">
        <label for="floatingPassword">Price</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingThumbnail" placeholder="Thumbnail" name="thumbnail">
        <label for="floatingThumbnail">Thumbnail</label>
    </div>
    <button type="sumbit" class="btn btn-info" style=" width: 100%;">Enviar</button>
</form>