<h1 style="text-align: center; margin-top: 20px;">Inicio de sesión con Facebook</h1>
<a href="/user/facebook" style="margin: auto;"><img src="http://www.mygames.club/loginwithfacebook.png" alt="Facebook"></a>